<!DOCTYPE html>
<html lang="en">
<head>
   <title>{{name}}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>

</style>
</head>
<body>
  <img src='/fda01?fdid=KLO02' usemap="#sg-map"/>
  <map name='sg-map'>
<area shape='circle' coords='719,979,10' alt='719,979' href='#'>
<area shape='circle' coords='665,904,10' alt='665,904' href='#'>
<area shape='circle' coords='443,446,10' alt='443,446' href='#'>
<area shape='circle' coords='445,425,10' alt='445,425' href='#'>
<area shape='circle' coords='446,425,10' alt='446,425' href='#'>
<area shape='circle' coords='446,413,10' alt='446,413' href='#'>
<area shape='circle' coords='454,409,10' alt='454,409' href='#'>
<area shape='circle' coords='470,454,10' alt='470,454' href='#'>
<area shape='circle' coords='470,436,10' alt='470,436' href='#'>
<area shape='circle' coords='481,428,10' alt='481,428' href='#'>
<area shape='circle' coords='490,446,10' alt='490,446' href='#'>
<area shape='circle' coords='512,406,10' alt='512,406' href='#'>
<area shape='circle' coords='641,597,10' alt='641,597' href='#'>
<area shape='circle' coords='663,785,10' alt='663,785' href='#'>
<area shape='circle' coords='662,694,10' alt='662,694' href='#'>
<area shape='circle' coords='659,673,10' alt='659,673' href='#'>
<area shape='circle' coords='663,659,10' alt='663,659' href='#'>
<area shape='circle' coords='664,654,10' alt='664,654' href='#'>
<area shape='circle' coords='663,643,10' alt='663,643' href='#'>
<area shape='circle' coords='663,638,10' alt='663,638' href='#'>
<area shape='circle' coords='663,633,10' alt='663,633' href='#'>
<area shape='circle' coords='686,657,10' alt='686,657' href='#'>
<area shape='circle' coords='687,653,10' alt='687,653' href='#'>
<area shape='circle' coords='687,643,10' alt='687,643' href='#'>
<area shape='circle' coords='687,638,10' alt='687,638' href='#'>
<area shape='circle' coords='687,633,10' alt='687,633' href='#'>
<area shape='circle' coords='659,625,10' alt='659,625' href='#'>
<area shape='circle' coords='672,626,10' alt='672,626' href='#'>
<area shape='circle' coords='676,624,10' alt='676,624' href='#'>
<area shape='circle' coords='680,607,10' alt='680,607' href='#'>
<area shape='circle' coords='688,626,10' alt='688,626' href='#'>
<area shape='circle' coords='713,626,10' alt='713,626' href='#'>
<area shape='circle' coords='721,607,10' alt='721,607' href='#'>
<area shape='circle' coords='610,563,10' alt='610,563' href='#'>
<area shape='circle' coords='565,405,10' alt='565,405' href='#'>
<area shape='circle' coords='630,462,10' alt='630,462' href='#'>
<area shape='circle' coords='646,462,10' alt='646,462' href='#'>
<area shape='circle' coords='640,429,10' alt='640,429' href='#'>
<area shape='circle' coords='614,404,10' alt='614,404' href='#'>
<area shape='circle' coords='658,575,10' alt='658,575' href='#'>
<area shape='circle' coords='658,548,10' alt='658,548' href='#'>
<area shape='circle' coords='668,540,10' alt='668,540' href='#'>
<area shape='circle' coords='675,521,10' alt='675,521' href='#'>
<area shape='circle' coords='677,522,10' alt='677,522' href='#'>
<area shape='circle' coords='702,522,10' alt='702,522' href='#'>
<area shape='circle' coords='674,479,10' alt='674,479' href='#'>
<area shape='circle' coords='674,477,10' alt='674,477' href='#'>
<area shape='circle' coords='695,479,10' alt='695,479' href='#'>
<area shape='circle' coords='696,477,10' alt='696,477' href='#'>
<area shape='circle' coords='711,521,10' alt='711,521' href='#'>
<area shape='circle' coords='734,522,10' alt='734,522' href='#'>
<area shape='circle' coords='738,521,10' alt='738,521' href='#'>
<area shape='circle' coords='759,522,10' alt='759,522' href='#'>
<area shape='circle' coords='761,520,10' alt='761,520' href='#'>
<area shape='circle' coords='713,479,10' alt='713,479' href='#'>
<area shape='circle' coords='714,477,10' alt='714,477' href='#'>
<area shape='circle' coords='736,478,10' alt='736,478' href='#'>
<area shape='circle' coords='736,477,10' alt='736,477' href='#'>
<area shape='circle' coords='764,478,10' alt='764,478' href='#'>
<area shape='circle' coords='764,476,10' alt='764,476' href='#'>
<area shape='circle' coords='657,457,10' alt='657,457' href='#'>
<area shape='circle' coords='657,444,10' alt='657,444' href='#'>
<area shape='circle' coords='657,440,10' alt='657,440' href='#'>
<area shape='circle' coords='659,437,10' alt='659,437' href='#'>
<area shape='circle' coords='657,432,10' alt='657,432' href='#'>
<area shape='circle' coords='662,421,10' alt='662,421' href='#'>
<area shape='circle' coords='661,412,10' alt='661,412' href='#'>
<area shape='circle' coords='690,432,10' alt='690,432' href='#'>
<area shape='circle' coords='688,429,10' alt='688,429' href='#'>
<area shape='circle' coords='697,411,10' alt='697,411' href='#'>
<area shape='circle' coords='702,414,10' alt='702,414' href='#'>
<area shape='circle' coords='705,409,10' alt='705,409' href='#'>
<area shape='circle' coords='653,403,10' alt='653,403' href='#'>
<area shape='circle' coords='668,402,10' alt='668,402' href='#'>
<area shape='circle' coords='675,402,10' alt='675,402' href='#'>
<area shape='circle' coords='699,401,10' alt='699,401' href='#'>
<area shape='circle' coords='705,405,10' alt='705,405' href='#'>
<area shape='circle' coords='709,414,10' alt='709,414' href='#'>
<area shape='circle' coords='721,414,10' alt='721,414' href='#'>
<area shape='circle' coords='717,413,10' alt='717,413' href='#'>
<area shape='circle' coords='717,408,10' alt='717,408' href='#'>
<area shape='circle' coords='734,429,10' alt='734,429' href='#'>
<area shape='circle' coords='717,403,10' alt='717,403' href='#'>
<area shape='circle' coords='830,465,10' alt='830,465' href='#'>
<area shape='circle' coords='853,465,10' alt='853,465' href='#'>
<area shape='circle' coords='857,433,10' alt='857,433' href='#'>
<area shape='circle' coords='831,396,10' alt='831,396' href='#'>
<area shape='circle' coords='968,493,10' alt='968,493' href='#'>
<area shape='circle' coords='885,423,10' alt='885,423' href='#'>
<area shape='circle' coords='883,394,10' alt='883,394' href='#'>
<area shape='circle' coords='924,393,10' alt='924,393' href='#'>
<area shape='circle' coords='936,424,10' alt='936,424' href='#'>
<area shape='circle' coords='936,417,10' alt='936,417' href='#'>
<area shape='circle' coords='970,417,10' alt='970,417' href='#'>
<area shape='circle' coords='968,391,10' alt='968,391' href='#'>
<area shape='circle' coords='999,436,10' alt='999,436' href='#'>
<area shape='circle' coords='1038,421,10' alt='1038,421' href='#'>
<area shape='circle' coords='996,396,10' alt='996,396' href='#'>
<area shape='circle' coords='1094,387,10' alt='1094,387' href='#'>
<area shape='circle' coords='1102,386,10' alt='1102,386' href='#'>
<area shape='circle' coords='1193,487,10' alt='1193,487' href='#'>
<area shape='circle' coords='1111,386,10' alt='1111,386' href='#'>
<area shape='circle' coords='1128,386,10' alt='1128,386' href='#'>
<area shape='circle' coords='1193,442,10' alt='1193,442' href='#'>
<area shape='circle' coords='1238,382,10' alt='1238,382' href='#'>
</map>
</body>
</html>

